
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #252525;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.contenedor-general{
    background: #1d1d1d;
    max-width: 570px;
    height: 70vh;
    margin: 50px auto;
    padding:25px ;
    /* border: 1px solid #b094ec; */
}

.header{
    /* border: 2px solid green; */
    position: relative;
    font-size: 16px;
    height: 50px;
}
.header p{
    font-weight: 600;
    padding-right: 10px;
    color: #b094ec;
    padding-right: 10px;
}
.header span{
    color: white;
    font-weight: 500;
}

.header div{
    width: 82px;
    height: 3px;
    background: #b094ec;
    border-radius: 10px;
}
.seccion1{
    border: 2px solid green;
    /* padding: 40px 200px 60px 100px; */
   text-align: center;
}
.seccion1 div{

    width: 91%;
    margin: auto;
    height: 4px;
    text-align: center;
    background: #b094ec;
    border-radius: 30px;
    position: relative;
}
.seccion1 h3{
    font-size: 30px;
    letter-spacing: 5px;
}

.seccion1 span{
    font-size: 30px;
    margin-left:0px ;
    color: #b094ec;
    font-weight: 700;
}
.seccion2{
    border: 2px solid green;
    margin-top: 10px ;
    height: 110px;
    font-size: 12px;

    padding: 0px 3px 0px 15px;
}
.seccion2 table td{
    vertical-align: top;
    padding: 10px 10px 0px 0px;
    font-size: 12px;


}
.seccion2 table{
    /* border: 2px solid yellow; */
    font-size: 20px;

}
.seccion2 table td{
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
}
.seccion2 div{
    width: 220px;
    border: 2px solid #b094ec;
    border-radius:15px ;
    height: 100px;
    padding: 15px;

}
.seccion2 div p  {
    font-size: 13px;
    color: #b094ec;
    margin-top: 4px;
}
.seccion2 div .descripcion{
    color: white;
    font-size: 10px;
    margin-top: 10px;
}
.seccion2 div p span {
    margin: 0px 0px 0px 60px ;
    color: white;

}

.seccion2 div h3{
    font-size: 15px;
    
    
}

.seccion3{
  
    padding: 40px 20px 5px 40px ;
    text-align: justify;

}
.seccion3 .parrafos{

}
.seccion3  p{

}
.footer {
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    color: gray;
    background-color: transparent;}

a{
    text-decoration: none;
    color: blueviolet;
}