<<<<<<< HEAD:style.css
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #252525;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.contenedor-general{
    background: #1d1d1d;
    width: 60%;
    height: 75vh;
    margin: 50px auto;
    padding:25px ;
    /* border: 1px solid #b094ec; */
}

.header{
    display: flex;
    font-size: 25px;
    height: 50px;
    position: relative;
}
.header p{
    font-weight: 600;
    padding-right: 10px;
    color: #b094ec;

}
.header span{
    font-weight: 500;
}

.header div{
    width: 130px;
    height: 3px;
    background: #b094ec;
    border-radius: 10px;
    position: absolute;
    top: 30px;
}
.seccion1{
    /* border: 2px solid red; */
    height: 160px;
    /* padding: 40px 200px 60px 100px; */
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}
.seccion1 div{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.seccion1 h3{

    font-size: 75px;
    letter-spacing: 20px;
}
.seccion1 p{
    font-size: 40px;
   
}

.seccion1 span{
    font-size: 40px;
    margin-left:25px ;
   
    color: #b094ec;
}
.seccion2{
    margin-top: 35px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.seccion2 .contenedor{
    /* border: 2px solid blueviolet; */
    display: flex;
    flex-direction: column;
    /* padding: 15px 0px 15px 125px; */
    padding: 15px 0px 35px 0px;

    align-items: center;
}
.seccion2 .contenedor span{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.seccion2 .contenedor div{
    color: white;
    /* background: white; */
    border: 2px solid blueviolet ;
    width: 225px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion2 .contenedor div p{
    color: black;
    font-weight: 300;

    color: white;

}
.seccion3{
    /* border: 2px solid red; */
    display:grid;
    grid-template-columns: repeat(2,250px);
    justify-content: center;
    gap: 160px;

}
.seccion3 .parrafos{
    /* border: 2px solid green; */
    width: 250px;
    
}
.seccion3 .parrafos p{
    font-weight: 400;
}

=======
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #252525;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.contenedor-general{
    background: #1d1d1d;
    width: 60%;
    height: 75vh;
    margin: 50px auto;
    padding:25px ;
    /* border: 1px solid #b094ec; */
}

.header{
    display: flex;
    font-size: 25px;
    height: 50px;
    position: relative;
}
.header p{
    font-weight: 600;
    padding-right: 10px;
    color: #b094ec;

}
.header span{
    font-weight: 500;
}

.header div{
    width: 130px;
    height: 3px;
    background: #b094ec;
    border-radius: 10px;
    position: absolute;
    top: 30px;
}
.seccion1{
    /* border: 2px solid red; */
    padding: 40px 200px 60px 100px;
    position: relative;
}
.seccion1 h3{
    font-size: 75px;
    letter-spacing: 20px;
}
.seccion1 p{
    font-size: 40px;
    position: absolute;
    top: 135px;
    left: 235px;
}

.seccion1 span{
    font-size: 40px;
    position: absolute;
    top: 135px;
    left: 425px;
    color: #b094ec;
}
.seccion2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.seccion2 .contenedor{
    /* border: 2px solid blueviolet; */
    display: flex;
    flex-direction: column;
    /* padding: 15px 0px 15px 125px; */
    padding: 15px 0px 35px 0px;

    align-items: center;
}
.seccion2 .contenedor span{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.seccion2 .contenedor div{
    color: white;
    /* background: white; */
    border: 2px solid blueviolet ;
    width: 225px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion2 .contenedor div p{
    color: black;
    font-weight: 300;

    color: white;

}
.seccion3{
    /* border: 2px solid red; */
    display:grid;
    grid-template-columns: repeat(2,250px);
    justify-content: center;
    gap: 160px;

}
.seccion3 .parrafos{
    /* border: 2px solid green; */
    width: 250px;
    
}
.seccion3 .parrafos p{
    font-weight: 400;
}

>>>>>>> 6ddeb2139fddb4a55165ba0fe0938f64cebf88bc:NotificacionDeCorreo/style.css
